/*General*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    background: #253624; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #253624 0%, #4d594d 50%, #253624 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#253624), color-stop(50%,#4d594d), color-stop(100%,#253624)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #253624 0%,#4d594d 50%,#253624 100%);
}

@font-face {
    font-family: 'heart_breaking_badregular';
    src: url('../font/Heart-Breaking-Bad-webfont.eot');
    src: url('../font/Heart-Breaking-Bad-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Heart-Breaking-Bad-webfont.woff2') format('woff2'),
         url('../font/Heart-Breaking-Bad-webfont.woff') format('woff'),
         url('../font/Heart-Breaking-Bad-webfont.ttf') format('truetype'),
         url('../font/Heart-Breaking-Bad-webfont.svg#heart_breaking_badregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.wrapper {
  width:800px;
  margin:50px auto 0 auto;
}

h1 {
  font-family: 'heart_breaking_badregular', arial, georgia, sans-serif;
  text-align: center;
  font-size:4em;
  color:white;
}

/* 
Characters start here..
*/

.characters {
    /*background: url(../img/template.png) no-repeat 0 0;*/
    position: relative;
    height: 400px;
    overflow: hidden;
}

.characters img {
  opacity: 0.3;
}

.mike, .jesse-pinkman,
.walter-white, .saul-goodman {
  float: left;

  /*remove this later*/
  position:absolute;
  /*background-color: black;*/
}

/* mike styles */

.mike {
  width:95px;
  height:140px;
  top: 93px;
  left: 194px;
  opacity:0.5;
}

.mike .head {
  position: absolute;
  z-index: 9;
  left: 15px;
  top: 7px;
  width: 64px;
  height: 70px;
  border:2px solid #000;
  border-radius: 54px / 59px;
  background-color: #d5a171;
}

.mike:after, .mike:before {
  content:"";
  position: absolute;
  width: 13px;
  height: 23px;
  top:30px;
  border-radius: 50%;
  background-color: #d5a171;
  border: 2px solid #000;
}

.mike:before {
  left: 8px;
  transform: rotate(-27deg);
}

.mike:after {
  left: 73px;
  transform: rotate(27deg);
}

.mike .eyes, .mike .eyes:before {
  width: 3px;
  height: 5px;
  background-color: black;
  position: absolute;
  left: 20px;
  top: 28px;
  border-radius: 50%;
}

.mike .eyes:before {
  content:"";
  position:absolute;
  left:16px;
  top:0;
}
/*Ear ring: could add more markup ..*/
.mike .eyes:after {
  content: "";
  position: absolute;
  left: -30px;
  top: -5px;
  width: 8px;
  height: 5px;
  background-color: #cdd1d4;
  border-radius: 50%;
  border: 1px solid #000;
  transform: rotate(-27deg);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.mike .wringles, .mike .wringles:before {
    position: absolute;
    height: 2px;
    background-color: #9e6c44;
    width: 22px;
    z-index: 9;
    top: 22px;
    left: 19px;
    border-radius: 50%;
}

.mike .wringles:before {
  content:"";
  top: -4px;
  width:16px;
  left:2px;
}

.mike .beard {
  width: 18px;
  position: absolute;
  bottom: 1px;
  left: 21px;
  height: 17px;
  background-color: #dfd3c3;
  border-radius: 50px;
  border:1px solid #000;
}

